.rotate-scale {
  animation: rotate-scale 1.8s infinite linear both;
}

@keyframes rotate-scale {
  from, to {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(360deg) scale(0);
  }
}
